src/main/mule/pipeline-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a722809a-021a-4e5d-8fdc-378f893e0adb" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="219edc78-02cd-4694-9dd4-aca6db340b81" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<global-property doc:name="Global Property" doc:id="8278fe1a-9d38-4d50-8da3-d4a5d73bd633" name="http.port" value="8084" />
	<flow name="pipeline-mulesoft" doc:id="cdff8908-16dc-439a-ad5d-4298b1ce28f3" >
		<http:listener doc:name="Listener" doc:id="ca47b119-43c9-427a-a415-9f55ed304800" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="fb305a69-d75a-460b-b423-35d1eea64c42" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:headers ><![CDATA[#[output application/json
---
{
	
	"Content-Type" : "application/json",
	"Accept": "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="4c58f5f4-eab7-4680-b36e-e069c2c119c7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	payload ++ State:'WB'
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
